In [ ]:
1.  What are data structures, and why are they important

 Ans: Data structures are specialized formats for organizing, processing, retrieving, and storing data. Think of them as containers that not only hold data but also make it easier to perform operations like searching, sorting, inserting, and deleting.

ðŸ“¦ Common Types of Data Structures:
Arrays â€“ Fixed-size lists where elements are stored in contiguous memory.

Linked Lists â€“ Elements (nodes) connected using pointers; dynamic in size.

Stacks â€“ LIFO (Last In, First Out) structure.

Queues â€“ FIFO (First In, First Out) structure.

Trees â€“ Hierarchical structure (e.g., binary tree, binary search tree).

Graphs â€“ Nodes connected by edges; useful in networking and mapping.

Hash Tables (Hash Maps) â€“ Store key-value pairs with fast access.

ðŸ’¡ Why Data Structures Are Important:
Efficiency: The right data structure improves time and space complexity.

Faster Processing: Helps in faster retrieval and manipulation of data.

Better Problem Solving: Crucial for writing optimized algorithms.

Foundation for Programming: Essential for coding, app development, databases, OS, etc.

Interview Ready: Most coding interviews test your grasp of data structures.

ðŸ”§ Real-Life Example:
Imagine a contact list on your phone:

If stored as an array, searching for a name can be slow.

But if stored as a hash table (name as key, number as value), lookup is almost instant.

2.  Explain the difference between mutable and immutable data types with examples
Mutable Data Types
Mutable means the value can be changed after the object is created. You can add, remove, or modify the data.

Examples:

list

dictionary (dict)

set

In [2]:
#Example
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Immutable Data Types
Immutable means the value cannot be changed after the object is created. Any change creates a new object.

Examples:

integer (int)

float

string (str)

tuple

boolean (bool)

Example in Python:

In [4]:
#immutable example
name = "Jeet"
name = name + " rawat"
print(name)  # Output: Jeet rawat

Jeet rawat

3.  What are the main differences between lists and tuples in Python
Lists in Python
Mutable: You can change, add, or remove elements after creation.

Defined using square brackets: [ ]

Slower than tuples (because they are flexible).

Used when data might change (like a shopping cart or to-do list).

In [5]:
# Example
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Tuples in Python
Immutable: Once created, you cannot change the elements.

Defined using round brackets: ( )

Faster than lists (because they are fixed).

Used when data should not change (like coordinates or constants).

In [6]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 5  --> This will give an error
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

4.  Describe how dictionaries store data

What is a Dictionary?
A dictionary is a built-in data structure in Python that stores data in key-value pairs.
Itâ€™s like a real-life dictionary where you search for a word (key) and get its meaning (value).

How Does It Store Data?
Each item in a dictionary is stored as a pair: key: value

The key must be unique and immutable (like a string, number, or tuple)

The value can be of any data type and can be duplicated

Python uses a technique called hashing to store and access keys quickly

5.  Why might you use a set instead of a list in Python ?

In [7]:
# Uses a Set Instead of a List
# To Remove Duplicates
my_list = [1, 2, 2, 3, 3, 3]
unique_set = set(my_list)
print(unique_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [8]:
#Faster Membership Testing
# Using list
3 in [1, 2, 3, 4]  # Slower

# Using set
3 in {1, 2, 3, 4}  # Faster

True

In [9]:
# Set Operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))         # {1, 2, 3, 4, 5}
print(a.intersection(b))  # {3}
print(a.difference(b))    # {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

6. What is a string in Python, and how is it different from a list
What is a String in Python?
A string is a sequence of characters used to store text data.
It is written inside single (') or double quotes (").

**What is a List in Python?**
A list is a sequence that can store multiple items, including numbers, strings, or even other lists.
It is written using square brackets [ ].

Main Differences Between String and List
Feature	String	List
Data type	Text (characters)	Any type (numbers, strings, etc.)
Mutable?	No (immutable)	Yes (mutable)
Syntax	"Hello" or 'Hello'	["H", "e", "l", "l", "o"]
Can contain mixed types?	No	Yes
Can be changed?	No (you canâ€™t change one letter directly)	Yes

7.  How do tuples ensure data integrity in Python ?

What is Data Integrity?
Data integrity means making sure that data stays unchanged, accurate, and reliable â€” especially when it shouldnâ€™t be modified by accident.

How Do Tuples Ensure Data Integrity?
1. Immutability
Tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

This ensures that the data remains the same throughout the program.
 Protects Fixed Data
Tuples are perfect for storing fixed collections like:

Coordinates (x, y)

RGB color values

Dates of birth

These kinds of data shouldnâ€™t be changed, so using a tuple makes sure they arenâ€™t modified accidentally.

In [ ]:
8.  What is a hash table, and how does it relate to dictionaries in Python ?
What is a Hash Table?
A hash table is a data structure that stores data in key-value pairs, and allows for fast data access using a key.

It works like this:

You give it a key

The key goes through a hash function (which converts it into a number called a "hash")

The hash tells where to store or find the value in memory

This makes searching, inserting, and deleting very fast â€” usually in constant time (O(1)).

How Does It Relate to Dictionaries in Python?
In Python, a dictionary is an implementation of a hash table.

This means:
When you do my_dict["name"], Python uses a hash function to quickly find the value for "name"

It doesn't need to check each item like a list â€” it jumps straight to the correct location

9.  Can lists contain different data types in Python?

Yes, absolutely Jeet! In Python, lists can contain different data types â€” and thatâ€™s one of the cool things about Python lists.

In [13]:
#Example
mixed_list = [10, "Jeet", 3.14, True, [1, 2, 3], {"name": "Harshit"}]

#This list contains:

an integer (10)

a string ("Jeet")

a float (3.14)

a boolean (True)

another list ([1, 2, 3])

a dictionary ({"name": "Harshit"})

10.  Explain why strings are immutable in Python?

What Does "Immutable" Mean?
In Python, immutable means something cannot be changed after it is created.
So when we say strings are immutable, it means:

ðŸ‘‰ Once a string is created, you cannot modify its characters.

âœ… Why Are Strings Immutable?
Here are the main reasons:

1. Memory Efficiency
Strings are used a lot in programming (names, file paths, messages, etc.).

Making them immutable allows Python to reuse memory (called string interning).

This saves memory and boosts speed.

2. Hashability
Immutable objects like strings can be used as keys in dictionaries or elements in sets.

Mutable objects like lists cannot be keys, but strings can, thanks to immutability.
3.  Data Safety
Immutability helps prevent accidental changes in strings, especially in big programs or when shared between functions.

In [ ]:
11.  What advantages do dictionaries offer over lists for certain tasks ?

What Are Dictionaries?
A dictionary in Python is a collection of key-value pairs â€” like a mini database that helps you look up values by a name (key).

student = {"name": "Jeet", "age": 21, "city": "Delhi"}

the main advantages of dictionaries over lists:

#1. Faster Lookups
Dictionary: Looks up values by key almost instantly (O(1) time)

List: You have to search through items one by one (O(n) time)

Example:
# Dictionary
person = {"name": "Jeet"}
print(person["name"])  # Fast

# List
person_list = [["name", "Jeet"]]
# Have to loop through to find "name"

#2. Meaningful Access

In dictionaries, you access values using descriptive keys.

In lists, you use index numbers, which can be confusing.

12.  Describe a scenario where using a tuple would be preferable over a list.

Scenario: Storing GPS Coordinates (Latitude, Longitude)
Imagine you're building a map app and you want to store the location of a user.

You could store it like this:

In [14]:
location = (28.6139, 77.2090)  # Tuple (Delhi coordinates)

13.  How do sets handle duplicate values in Python ?

Sets in Python automatically remove duplicate values.

When you create a set, any repeated items are automatically filtered out, and only unique elements are kept.

In [15]:
#example
numbers = {1, 2, 3, 2, 4, 3, 5}
print(numbers)

#Output
{1, 2, 3, 4, 5}

#Even though 2 and 3 were added twice, the set only keeps one copy of each.

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

14.  How does the â€œinâ€ keyword work differently for lists and dictionaries ?

The in keyword is used to check if a value exists in a list, dictionary, set, string, etc.

But how it behaves depends on the data type you're using it with.

In [16]:
#For Lists
#When you use in with a list, it checks if the value exists in the list.
fruits = ["apple", "banana", "mango"]

print("banana" in fruits)  #  True
print("grape" in fruits)   #  False

True
False

In [19]:
#For Dictionaries
#When you use in with a dictionary, it checks if the key exists, not the value
person = {"name": "Jeet", "age": 21}

print("name" in person)   # True â†’ checking key
print("Jeet" in person)   # False â†’ value, not key

#To check for a value in a dictionary:
print("Jeet" in person.values())  # True

True
False
True

15.  Can you modify the elements of a tuple? Explain why or why not ?

Can You Modify the Elements of a Tuple?
No, you cannot modify the elements of a tuple in Python.

Thatâ€™s because tuples are immutable â€” which means once they are created, they cannot be changed.

Why Are Tuples Immutable?
Data Safety

Once created, the data stays the same â€” useful for things like coordinates, dates, config data, etc.

Hashability

Because they're immutable, tuples can be used as keys in dictionaries or elements in sets.

Lists can't be used that way.

Performance

Tuples are a bit faster and use less memory than lists.

BUTâ€¦ Thereâ€™s a Twist!
If a tuple contains a mutable element (like a list inside it), you can modify the inner list, not the tuple itself.

In [20]:
t = (1, 2, [3, 4])
t[2][0] = 99
print(t)  # Output: (1, 2, [99, 4])

#So the tuple itself didnâ€™t change, but the list inside it did.

(1, 2, [99, 4])

16.  What is a nested dictionary, and give an example of its use case ?

 What is a Nested Dictionary?
A nested dictionary is a dictionary inside another dictionary.

It allows you to organize complex data in a structured way â€” like creating a table inside a table.

Use Case Example
  Student Database in a School App

Youâ€™re making a school management system. You want to store data for many students, each with their own:

Name

Age

Grade

Subjects

In [24]:
# Example>>use Case

school_data = {
    "student1": {
        "name": "Jeet",
        "class": "12th",
        "marks": {
            "math": 88,
            "science": 92
        }
    },
    "student2": {
        "name": "Neha",
        "class": "11th",
        "marks": {
            "math": 91,
            "science": 89
        }
    }
}

#Now you can access data like this:

print(school_data["student1"]["marks"]["science"])  # Output: 92

92

17.  Describe the time complexity of accessing elements in a dictionary

In [25]:
#Accessing Elements in a Dictionary
#When you do something like:

person = {"name": "Jeet", "age": 21}
print(person["name"])  # Accessing the value by key
 #Youâ€™re accessing a value using a key â€” and Python dictionaries are really fast at this.

Jeet

18.  In what situations are lists preferred over dictionaries ?

When Should You Use a List Instead of a Dictionary?
You should prefer lists over dictionaries when:

1. You Only Need to Store Ordered Items
Lists maintain the order of items.

2. You Want to Loop Over Items in Order
Lists are great when you want to process data in sequence.

3. You Have Simple, Linear Data
Like names, numbers, to-do items, etc.

If you donâ€™t need keyâ€“value pairs, a list is cleaner and simpler.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?

Why Are Dictionaries Considered Unordered?
Earlier versions of Python (before 3.7) didnâ€™t keep the insertion order of key-value pairs in dictionaries. So when you added items to a dictionary, they could come out in a completely different order.

Thatâ€™s why dictionaries were traditionally considered unordered.

How Does That Affect Data Retrieval?
You canâ€™t retrieve values by position/index like a list.

You must retrieve them using the exact key:
print(info["city"])  #  Correct
print(info[1])       #  Error! Dictionaries donâ€™t use indexes

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

#List: Data Retrieval by Index (Position)
Lists store items in a specific order.

You retrieve data by using index numbers (starting from 0).

#Dictionary: Data Retrieval by Key (Label)
Dictionaries store keyâ€“value pairs.

You retrieve data using the key, not the position.

## ** Practical Questions**

In [27]:
1.  #Write a code to create a string with your name and print it

# Creating a string with my name
name = "Jeet"

# Printing the string
print(name)

Jeet

In [28]:
#2.  Write a code to find the length of the string "Hello World"

# String
text = "Hello World"

# Finding the length
length = len(text)

# Printing the length
print(length)

11

In [29]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming"

# Original string
text = "Python Programming"

# Slicing the first 3 characters
sliced_text = text[:3]

# Printing the result
print(sliced_text)

Pyt

In [30]:
#4.  Write a code to convert the string "hello" to uppercase

# Original string
text = "hello"

# Converting to uppercase
uppercase_text = text.upper()

# Printing the result
print(uppercase_text)

HELLO

In [31]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

# Original string
text = "I like apple"

# Replacing 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Printing the result
print(new_text)

I like orange

In [32]:
#6.   Write a code to create a list with numbers 1 to 5 and print it
# Creating a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Printing the list
print(numbers)

[1, 2, 3, 4, 5]

In [33]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

# Original list
numbers = [1, 2, 3, 4]

# Appending 10 to the list
numbers.append(10)

# Printing the updated list
print(numbers)

[1, 2, 3, 4, 10]

In [34]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Original list
numbers = [1, 2, 3, 4, 5]

# Removing the number 3
numbers.remove(3)

# Printing the updated list
print(numbers)

[1, 2, 4, 5]

In [35]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# List of characters
letters = ['a', 'b', 'c', 'd']

# Accessing the second element (index 1)
second_element = letters[1]

# Printing the result
print(second_element)

b

In [36]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

# Original list
numbers = [10, 20, 30, 40, 50]

# Reversing the list
numbers.reverse()

# Printing the reversed list
print(numbers)

[50, 40, 30, 20, 10]

In [37]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

# Creating a tuple
numbers = (100, 200, 300)

# Printing the tuple
print(numbers)

(100, 200, 300)

In [38]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

# Tuple of colors
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_last = colors[-2]

# Printing the result
print(second_last)

blue

In [39]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
min_num = min(tup)
print(min_num)

5

In [40]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [41]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Creating a tuple with fruits
fruits = ("apple", "banana", "mango")

# Checking if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [42]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Creating a set
letters = {'a', 'b', 'c'}

# Printing the set
print(letters)

{'b', 'c', 'a'}

In [43]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

# Original set
numbers = {1, 2, 3, 4, 5}

# Clearing all elements from the set
numbers.clear()

# Printing the empty set
print(numbers)

set()

In [44]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

# Original set
numbers = {1, 2, 3, 4}

# Removing the element 4
numbers.remove(4)

# Printing the updated set
print(numbers)

{1, 2, 3}

In [46]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

# Defining two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union
union_set = set1.union(set2)

# Printing the result
print(union_set)

{1, 2, 3, 4, 5}

In [47]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Defining two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection
intersection_set = set1.intersection(set2)

# Printing the result
print(intersection_set)

{2, 3}

In [49]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Creating a dictionary
person = {
    "name": "Jeet",
    "age": 19,
    "city": "Almora"
}

# Printing the dictionary
print(person)

{'name': 'Jeet', 'age': 19, 'city': 'Almora'}

In [50]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Original dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

# Printing the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value of the "name" key
name_value = person['name']

# Printing the value
print(name_value)

Alice

In [52]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the "age" key
del person['age']

# Printing the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [53]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [55]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Jeet', 'age': 22, 'city': 'Almora'}

# Printing all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Jeet', 'age': 22, 'city': 'Almora'}

In [56]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [22, 26, 35, 50, 77]

In [57]:
#28. Write a code to create a list with strings and print the element at the third index.
# Creating a list of strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Printing the element at index 3
print("Element at index 3:", fruits[3])

Element at index 3: mango

In [58]:
 #29. Write a code to combine two dictionaries into one and print the result.

 # Two dictionaries
dict1 = {'name': 'Jeet', 'age': 22}
dict2 = {'city': 'Almora', 'country': 'India'}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Jeet', 'age': 22, 'city': 'Almora', 'country': 'India'}

In [59]:
# 30. Write a code to convert a list of strings into a set.

# List of strings
fruits_list = ["apple", "banana", "cherry", "apple"]

# Converting list to set
fruits_set = set(fruits_list)

# Printing the set
print("Set:", fruits_set)

Set: {'banana', 'cherry', 'apple'}